/** @format */

.textBox {
	display: block;
	margin: 0 auto 2.3rem;
	width: 50%;
	height: 7rem;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 5rem;
	&:active,
	&:focus {
		outline: none;
	}
	&:placeholder-shown {
		font-size: 2rem;
	}
}
