/** @format */

.hero {
	height: 50vh;
	width: 100%;
	background-color: #ffc2b4;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item {
	margin-bottom: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
}
.row {
}
